@font-face{
  font-family: Roboto;
  src: url('../public/roboto/Roboto-Light.ttf');
  src: url('../public/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: Roboto;
  src: url('../public/roboto/Roboto-Bold.ttf');
  src: url('../public/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: Roboto;
  src: url('../public/roboto/Roboto-Regular.ttf');
  src: url('../public/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;
}
.content {
  margin-top: 115px;
  margin-left: 27px;
}
body {
  background-color: var(--pale-grey);
}
#app {
  background-color: var(--pale-grey);
}
html {
  scroll-behavior: smooth;
}
div {
  box-sizing: border-box;
}
button{
  outline: none;
  border: none;
  box-sizing: border-box;
}
p {
  margin: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: none;
  box-sizing: border-box;
}
.df {
  display: flex;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.jcfe {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
  padding-right: 1px;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.h15 {
  height: 15px;
}
.h55 {
  height: 55px;
}
.w600 {
  width: 600px;
}
.w140 {
  width: 140px;
}
.w15 {
  width: 15px;
}
.w20 {
  width: 20px;
}
.w90 {
  width: 90%;
}
.w95 {
  width: 95%;
}
.w100 {
  width: 100%;
}
.pt15{
  padding-top: 15px;
}
.pl305 {
  padding-left: 315px;
}
.pl2 {
  padding-left: 2px;
}
.pl15 {
  padding-left: 15px;
}
.pl25 {
  padding-left: 25px !important;
}
.pl10 {
  padding-left: 10px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr56 {
  padding-right: 56px;
}
.pr5 {
  padding-right: 5px;
}
.pt3{
  padding-top: 3px;
}
.pt5{
  padding-top: 5px;
}
.pt6{
  padding-top: 5px;
}
.ml312 {
  margin-left: 312px;
}
.mr5 {
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr18 {
  margin-right: 18px;
}
.mr25 {
  margin-right: 25px;
}
.mr56 {
  margin-right: 56px;
}
.mr8 {
  margin-right: 8px;
}
.ml7 {
  margin-left: 7px;
}
.ml3 {
  margin-left: 3px;
}
.ml15 {
  margin-left: 15px;
}
.ml18 {
  margin-left: 18px;
}
.mt0 {
  margin-top: 0px;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb150 {
  margin-bottom: 150px;
}
.mb200 {
  margin-bottom: 200px;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mb6 {
  margin-bottom: 6px;
}
.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt19 {
  margin-top: 19px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt34 {
  margin-top: 34px;
}
.ml0 {
  margin-left: 0px !important;
}
.ml25 {
  margin-left: 25px;
}

.read-only {
  pointer-events: none;
  opacity: 0.5;
}

.filter-switch .v-input--switch {
  margin-left: 20px !important;
}
.dotted {
  border: dashed 0.5px var(--dark);
}
.search__block .search {
  margin-bottom: 6px;
  padding-right: 35px;
  padding-left: 10px;
}
.icon__active {
  background-color: var(--pale-grey);
  border-radius: 4px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
  width: 36px;
  color: var(--bright-orange);
}
.obligatory {
  position: relative;
  color: var(--red);
  bottom: 3px;
  margin-right: 5px;
}
.input-mb0 input {
  margin-bottom: 0 !important;
}
.icon-shadow {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
  border-radius: 4px;
}
.icon-block {
  border-radius: 4px 0px 0px 4px;
  background-color: var(--pale-grey);
}
.icon-template-shadow {
  position: relative;
  width: 36px;
  z-index: 100;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.10);
  border-radius: 4px 0px 0px 4px;
}
.icon-template-shadow .hover-shadow:hover {
  box-shadow: none !important;
}
.input_style_2 input{
  padding: 3px 7px !important;
}
.input_style_2 .label{
  opacity: 0.7;
  font-weight: bold !important;
  margin-left: 7px;
  color: var(--dark2) !important;
  margin-top: 5px;
}
.input_style_2 .obligatory {
  bottom: 0;
  margin-right: -2px;
}
.template_block-fix {
  position: absolute;
  margin-left: -10px;
}
.ghost {
  opacity: 0.5;
}
.radio_label {
  opacity: 0.7;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark2);
  margin-bottom: 0 !important;
  margin-left: 7px;
}
.layout_title {
  opacity: 0.7;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark2);
  margin-top: 18px;
  text-transform: uppercase;
  margin-left: 7px;
}
.categories .main-btn {
  border-radius: 4px 0px 0px 4px !important;
}
.el-after::after {
  transform: rotate(-135deg);
  content: ''; 
  position: absolute;
  left: 33px; 
  bottom: -4px;
  border: 5px solid transparent;
  border-top: 5px solid var(--pale-grey);
}
.el-before::before{
  transform: rotate(-45deg);
  content: ''; 
  position: absolute;
  left: 33px; 
  bottom: 30px;
  border: 5px solid transparent;
  border-top: 5px solid var(--pale-grey);
}

.h1 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 12px;
}
h1 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 12px;
}
.h2 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;
}
h2 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;
}
.sticky-top0 {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 9;
}
.hr {
  border: dashed 0.5px #8e8e93;
  margin-bottom: 12px;
  margin-top: 12px;
}
button {
  outline: none;
}
.modal-button:focus {
  outline: auto;
}
.error-status {
  border: 1px solid var(--red) !important;
}
.colse-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.dark_bg {
  z-index: 101;
  background: rgba(0, 0, 0, 0.4);
}


.cp {
  cursor: pointer;
}
.color-orange {
  color: var(--bright-orange) !important;
}
.icon-text {
  cursor: pointer;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: -5px;
}
.icon-plus {
  display: inline-block;
  font-family: var(--font-awesome-5-pro-light);
  cursor: pointer;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: normal;
  text-align: center;
}

.v-application p {
  margin-bottom: 12px;
}


.save-icon_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 36px;
}
.mb500 {
  margin-bottom: 500px;
}
.jcfe {
  justify-content: flex-end;
}
.pr25 {
  padding-right: 25px;
}
.mb23 {
  margin-bottom: 23px;
}
.label_text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
}
.ml10 {
  margin-left: 10px;
}
.card_text {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: var(--blue-grey);
  margin-bottom: 8px;
}
.pt11 {
  padding-top: 11px;
}
.mb5 {
  margin-bottom: 5px;
}
.card_text span {
  color: var(--dark);
}
.containiner-pr56 {
  padding: 0 !important;
  padding-right: 56px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.h40 {
  height: 40px !important;
}
.h45 {
  height: 45px !important;
}
.w56 {
  width: 56px;
}
.mb2 {
  margin-bottom: 2px;
}

.save-icon_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  background-color: var(--pale-grey);
}
.pt11 {
  padding-top: 11px;
}
.mr25 {
  margin-right: 25px;
}
.top15 {
  top: 15px;
}
.h36 {
  height: 36px;
}
.substrate {
  background-color: var(--pale-grey);
  box-shadow: 0px 10px 20px var(--pale-grey);
}

.modal-enter-active, .modal-leave-active{
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}
.modal-enter, .modal-leave-to{
  opacity: 0;
}


/* style2 */
.menu-style2 {
  background-color: #38393b !important;
}
.menu-style2 .menu__title{
  color: #c5b7ac !important;
}
.menu-style2 .menu__title .color-orange {
  color: #578bc8 !important;
}
.menu-style2 .submenu__link{
  color: #c5b7ac !important;
}
.menu-style2 .submenu .icon__dots {
  color: #c58b4a !important;
}
.menu-style2 .submenu .v-link{
  color: #c5b7ac !important;
}
.menu-style2 .settings__text {
  color: #f5f4ed;
}
.menu .menu-style2 .v-input--switch__thumb {
  background-color: #578bc8 !important;
}


.menu-style2 .menu__title:hover {
  color: #578bc8 !important;
}
.menu-style2 .menu__title:hover .icon__dots{
  color: #578bc8 !important;
}
.menu-style2 .submenu__link:hover {
  color: #c58b4a !important;
}

.menu-style2 .submenu .v-link:hover{
  color: #c58b4a !important;
}
.lightGamma2 {
  background-color: #e7e5dc !important;
}
.lightGamma2 .menu__title{
  color: #38393b !important;
}
.lightGamma2 .menu__title .color-orange {
  color: #578bc8 !important;
}
.lightGamma2 .submenu__link{
  color: #38393b !important;
}
.lightGamma2 .submenu .icon__dots {
  color: #38393b !important;
}
.lightGamma2 .submenu .v-link{
  color: #38393b !important;
}
.lightGamma2 .settings__text {
  color: #38393b;
}
.menu .lightGamma2 .v-input--switch__thumb {
  background-color: #578bc8 !important;
}


.action_group-style2 .action-main-btn{
  background-color: #e7e5dc !important;
}
.action_group-style2 .action-btn:hover {
  background-color: #e7e5dc !important;
}

.select-style2 .main-btn{
  background-color: #e7e5dc !important;
}
.select-style2 .select-btn:hover {
  background-color: #e7e5dc !important;
}

.filter-btn-style2 .filters__block {
  background-color: #f5f4ed !important;
}
.filter-btn-style2 .filter__btn {
  background-color: #e7e5dc !important;
}

.icon-template-style2 .icon {
  background-color: #e7e5dc !important;
  border-radius: 4px;
}
.icon-template-style2 .icon-btn .icon{
  background-color: transparent !important;
}
.icon-template-style2 .template-block .icon {
  background-color: transparent !important;
}
.icon-template-style2 .template-block:hover {
  background-color: #e7e5dc !important;
}
.icon-template-style2 .el-after::after {
  border-top: 5px solid #e7e5dc !important;
}
.icon-template-style2 .el-before::before {
  border-top: 5px solid #e7e5dc !important;
}
.icon-template-style2 .templates__block-bg {
  background-color: #e7e5dc !important;
}
.icon-template-style2 .templates-block::-webkit-scrollbar-thumb {
  background-color: #f5f4ed !important;
}

.icons-block-style2 {
  display: inline-block;
}
.icons-block-style2 .icon1 .icon:hover {
  background-color: #e7e5dc;
}

.input-block-style2 {
  width: 100%;
  margin-bottom: -15px;
}

.input-date-style2 .icon-date .icon:hover{
  background-color: #e7e5dc;
}
.input-date-style2 .icon-date .icon-block {
  background-color: #e7e5dc;
}
.input-date-style2 {
  outline: none;
}
.input-date-style2 .v-menu__content {
  margin-left: 80px !important;
  margin-top: -40px !important;
}
.input-date-style2 .theme--light.v-input--is-disabled .v-label, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
  color: #000;
}
.input-date-style2 .label {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;
}
.input-date-style2 .input-block {
  cursor: pointer;
}
.input-date-style2 .icon-date {
  cursor: pointer;
  height: 40px;
  font-family: var(--font-awesome-5-pro-light);
  margin-top: 00px;
  font-size: 21px;
  padding: 0px 10px;
  text-align: center;
}

.v-modal-style2 {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.v-modal-style2 .modal__block {
  background-color: #e7e5dc;
}

.v-modal-style2::-webkit-scrollbar {
  width: 11px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}
.v-modal-style2::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e7e5dc;
}

.templates__block-bg-style2 {
  background-color: #e7e5dc;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22) !important;
  padding: 10px;
  z-index: 99;
  padding-right: 0;
  border-radius: 4px;
  max-width: 445px;
  min-width: 400px;
}
.templates__block-bg-style2 .templates-block::-webkit-scrollbar-thumb {
  background-color: #f5f4ed !important;
}
.templates__block-bg-style2 .icon-btn .icon{
  background-color: transparent !important;
}
.templates__block-bg-style2 .template-block .icon {
  background-color: transparent !important;
}
.templates__block-bg-style2 .template-block:hover {
  background-color: #e7e5dc !important;
}
.templates__block-bg-style2 .el-after::after {
  border-top: 5px solid #e7e5dc !important;
}
.templates__block-bg-style2 .el-before::before {
  border-top: 5px solid #e7e5dc !important;
}
.templates__block-bg-style2 .templates__block-bg {
  background-color: #e7e5dc;
}

.categories-style2 .main-btn{
  background-color: #e7e5dc;
}

.categories-btn-style2 {
  width: 100%;
  height: 36px;
  background-color: #fff;
  display: flex;
  margin-bottom: 6px;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  outline: none;
  border-radius: 4px;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: var(--dark);
  cursor: pointer;
  z-index: 9;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}
.categories-btn-style2 .circle-block {
  background-color: #e7e5dc;
}
.categories-btn-style2:hover {
  color: var(--bright-orange);
}
.categories-btn-style2 .circle-block .circle{
  background-color: #4cd964 !important;
}
.categories-style2 .chips .chip {
  background-color: #e7e5dc !important;
}

.filter-input-style2 {
  width: 263px;
  height: 36px;
  border-radius: 4px;
  background-color: #e7e5dc;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}
.filter-input-style2:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.filter-input-style2 p {
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
  margin-bottom: 0 !important;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-input-style2 .filter-btn-input {
  background-color: #e7e5dc;
}

.filter-input-switch-style2 {
  width: 263px;
  height: 36px;
  border-radius: 4px 0px 0px 4px;
  background-color: #e7e5dc;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}
.filter-input-switch-style2 .filter-btn-input {
  display: flex;
  width: 263px;
  border-radius: 4px 0px 0px 4px;
  background-color: #e7e5dc;
  padding: 4px;
  height: 36px;
}
.filter-input-switch-style2 p:hover {
  color: var(--bright-orange);
}
.filter-input-switch-style2 p {
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
  margin-bottom: 0 !important;
  display: flex;
  width: 210px;
  justify-content: center;
  align-items: center;
}

.filter-switch-style2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-radius: 0px 4px 4px 0px;
  padding: 4px 10px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #e7e5dc;
}
.filter-switch-style2 p {
  font-family: Roboto;
  font-size: 9px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: right;
  color: var(--dark);
  margin-bottom: 0 !important;
}
.filter-switch-style2 .v-input__control {
  position: relative !important;
  bottom: 3px !important;
  height: 40px;
  width: 37px !important;
  right: 8px;
}
.filter-switch-style2 .v-input--switch__track {
  background-color: var(--white) !important;
  opacity: 1 !important;
  height: 15px !important;
  width: 37px !important;
  top: 11px !important;
  margin: 0px 2px !important;
}
.filter-switch-style2 .v-input--switch__thumb {
  width: 13px !important;
  background-color: #578bc8 !important;
  opacity: 0.8;
  top: 12px !important;
  height: 13px !important;
}
.filter-switch-style2 .v-input--selection-controls{
  margin-top: 5px !important;
}
.filter-switch-style2 .v-input--selection-controls__ripple {
  display: none;
}

.time-btn__block-style2 {
  display: inline-block;
  border-radius: 4px;
}
.time-btn__block-style2:hover {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
  width: 263px;
}
.time-btn__block-style2 .time__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  height: 36px;
  background-color: #e7e5dc;
  padding: 0px 10px;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin: 0px;
  outline: none;
  cursor: pointer;
}
.time-btn__block-style2 .time__btn p {
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: var(--dark);
  height: 36px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-btn__block-style2 .icon-clock {
  font-family: var(--font-awesome-5-pro-light);
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  width: 19px;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
  transition: all 0.2s ease-out;
}
.time-btn__block-style2 .icon-clock:hover {
  color: var(--bright-orange);
}
.time-btn__block-style2 .icon-colse {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: FontAwesome5Pro;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
  z-index: 7;
  position: absolute;
  margin-top: -17px;
}
.time-btn__block-style2 .icon-colse:hover {
  color: var(--bright-orange);
}
.time-btn__block-style2 .time-btn-input {
  background-color: #e7e5dc;
}

.date-btn__block-style2 .date__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  height: 36px;
  background-color: #e7e5dc;
  padding: 0px 10px;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin: 0px;
  margin-bottom: 7px;
  outline: none;
}
.date-btn__block-style2 .date__btn p {
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: var(--dark);
  height: 36px;
  display: flex;
  align-items: center;
}
.date-btn__block-style2 .icon {
  font-family: var(--font-awesome-5-pro-light);
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  width: 19px;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
  transition: all 0.2s ease-out;
}
.date-btn__block-style2 .icon-apply{
  position: absolute;
  margin-left: 100px;
  margin-top: -4px;
}
.date-btn__block-style2 .icon-colse {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
  z-index: 7;
}
.date-btn__block-style2 .icon-colse:hover .icon{
  color: var(--bright-orange);
}
.date-btn__block-style2 .icon-colse .icon {
  font-size: 15px !important;
  z-index: 7;
}
.date-btn__block-style2 .date__btn:hover {
  cursor: pointer;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
}
.date-btn__block-style2 .date__btn:focus {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
}
.date-btn__block-style2 .date__btn:hover .icon {
  color: var(--bright-orange);
}
.date-btn__block-style2 .date__btn:focus .icon {
  color: var(--bright-orange);
}
.date-btn__block-style2 .date-btn-input {
  background-color: #e7e5dc;
}
.date-btn__block-style2 .date-btn-input .icon-apply .icon{
  position: absolute;
  margin-top: 10.5px;
  width: 15px;
  height: 15px;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
}

.date-range-btn__block-style2 button {
  width: 100%;
}
.date-range-btn__block-style2 .date__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  height: 36px;
  background-color: #e7e5dc;
  padding: 0px 10px;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin: 0px;
  margin-bottom: 7px;
  outline: none;
}
.date-range-btn__block-style2 .date__btn p {
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: var(--dark);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-range-btn__block-style2 .icon {
  font-family: var(--font-awesome-5-pro-light);
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  width: 19px;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
  transition: all 0.2s ease-out;
}
.date-range-btn__block-style2 .icon-colse {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: FontAwesome5Pro;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
  z-index: 9;
  position: absolute;
  margin-top: -17px;
}
.date-range-btn__block-style2 .icon-colse:hover .icon{
  color: var(--bright-orange);
}
.date-range-btn__block-style2 .icon-colse .icon {
  font-size: 15px !important;
  z-index: 7;
}
.date-range-btn__block-style2 .date__btn:hover {
  cursor: pointer;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
}
.date-range-btn__block-style2 .date__btn:focus {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
}
.date-range-btn__block-style2 .date__btn:hover .icon .icon {
  color: var(--bright-orange);
}
.date-range-btn__block-style2 .date__btn:hover .icon-colse {
  color: var(--dark);
}
.date-range-btn__block-style2 .date__btn:focus .icon {
  color: var(--bright-orange);
}
.date-range-btn__block-style2 .date-range-btn-input {
  background-color: #e7e5dc;
}
.date-range-btn__block-style2 .icon-apply{
  margin-left: -15px;
  padding-left: 15px;
  width: 15px;
  height: 15px;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
}

.switch-button-style2 {
  display: block;
  height: 25px;
  width: 50px;
}
.switch-button-style2 .v-messages .theme--light {
  display: none;
}
.switch-button-style2 .v-input__slot {
  height: 25px;
  margin-bottom: 0 !important;
  margin-bottom: -10px;
}
.switch-button-style2 .v-input--switch {
  height: 25px;
  margin-left: 0px;
}
.switch-button-style2 .v-input__control {
  position: relative !important;
  bottom: 10px !important;
  height: 25px;
  top: 0px;
  margin: 0px 10px;
}
.switch-button-style2 .v-input--switch__track {
  background-color: var(--white) !important;
  opacity: 1 !important;
  height: 21px !important;
  width: 43px !important;
  top: 0px !important;
  margin: 0px 2px !important;
}
.switch-button-style2 .v-input--switch__thumb {
  width: 19px !important;
  background-color: #578bc8 !important;
  top: 1px !important;
  height: 19px !important;
}
.switch-button-style2 .v-input--selection-controls{
  margin-top: 5px !important;
}
.switch-button-style2 .v-input--selection-controls__ripple {
  display: none;
}

.select-btn-style2 {
  width: 100%;
  height: 36px;
  background-color: var(--white);
  display: flex;
  margin-bottom: 6px;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  outline: none;
  border-radius: 4px;
  font-size: 0.6875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: var(--dark);
  cursor: pointer;
  z-index: 9;
}
.select-btn-style2:hover .select__icon-colse{
  background: #e7e5dc;
}
.select-btn-style2 .select__icon-colse {
  padding-top: 0;
}
.select-btn-style2:hover {
  background: #e7e5dc;
  color: var(--bright-orange);
}
.icon-select-style2 .icon__active {
  background-color: #e7e5dc !important;
}


.icon-select-mini{
  width: 26px;
  height: 26px;
}
.icon-select-mini .icon{
  width: 26px !important;
  height: 26px !important;
}
.icon-select-mini .hover_prompt .icon{
  width: 26px;
  height: 26px;
}

.input-block .icons__block .icon-select-mini {
  margin-top: -5px;
}

.card__search-style2 .input_icon-block .icon:hover{
  background-color: #e7e5dc !important;
}
.card__search-style2 .input_icon-block .icon__active{
  background-color: #e7e5dc !important;
}
.card__search-style2 .search__block {
  background-color: #e7e5dc;
}
.card__search-style2 .cards::-webkit-scrollbar {
  width: 11px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}
.card__search-style2 .cards::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f5f4ed;
}

.card__info-style2 {
  padding: 9px 10px;
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 6px;
  transition: all 0.1s ease;
}
.card__info-style2:hover {
  cursor: pointer;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
  background-color: #e7e5dc;
}
.card__info-style2:hover .text{
  color: var(--bright-orange) !important;
}

.alert-style2 {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.22);
  background-color: #e7e5dc;
  border-radius: 4px;
  padding-bottom: 2px;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  position: absolute;
  width: 30%;
  z-index: 102;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-group-collapse-style2 {
  padding: 20px 15px;
  border-radius: 4px;
  background-color: #e7e5dc;
}
/* style2 */





.mx-datepicker-main .mx-datepicker-popup {
  padding: 9px !important;
  padding-top: 0 !important;
  border-radius: 4px !important;
  box-shadow: 0 7px 10px 0 rgb(34 34 34 / 22%) !important;
  background-color: var(--white) !important;
}
.mx-datepicker-main .mx-calendar {
  padding: 9px !important;
  padding-top: 5px !important;
}
.mx-datepicker-main .mx-table thead {
  padding: 12px 21px 12px 19px;
  background-color: var(--pale-lilac);
}
.mx-datepicker-main .mx-table thead::before {
  content: '';
  height: 32px;
  width: 10px;
  background-color: var(--pale-lilac);
  position: absolute;
  left: -9px;
}
.mx-datepicker-main .mx-table thead::after {
  content: '';
  height: 32px;
  width: 10px;
  background-color: var(--pale-lilac);
  position: absolute;
  right: -10px;
  top: 0px;
}
.mx-datepicker-main .mx-btn {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}
.mx-datepicker-main .mx-calendar-header .mx-btn:hover {
  color: #8d43ff;
}
.mx-datepicker-main .mx-calendar-header {
  margin-bottom: 5px;
}

.mx-datepicker-main .mx-calendar-header-label .mx-btn:hover {
  box-shadow: none !important;
  background-color: none !important;
  color: #8d43ff !important;
}
.mx-datepicker-main .today {
  color: #8d43ff !important;
}
.mx-datepicker-main .active{
  background-color: var(--purpley) !important;
  color: #fff !important;
}
.mx-datepicker-main .in-range {
  color: #fff !important;
  background-color: #8e43ff85 !important;
}
.mx-datepicker-main .mx-datepicker-footer .mx-btn:hover {
  color: #8d43ff !important;
}


.v-application--is-ltr .v-messages {
  display: none !important;
}
.v-input--checkbox .v-input__slot {
  margin-bottom: 0px !important;
}
.v-input--checkbox {
  max-height: 30px;
  margin-top: 0 !important;
}
.v-input--checkbox .v-input--selection-controls__input + .v-label {
  color: #fff !important;
  font-size: 12px !important;
  padding-top: 5px;
  font-family: 'Roboto';
}
.mdi-checkbox-blank-outline::before {
  content: "";
  background: var(--white);
  width: 22px;
  border-radius: 5px;
  height: 22px;
  margin-top: 5px;
}
.menu .v-input--checkbox .mdi-checkbox-marked::before {
  content: "\25CF";
  font-size: 20px;
  margin-top: 5px;
  padding-left: 6px !important;
  color: var(--weird-green);
  width: 22px;
  height: 22px !important;
  background: var(--white);
  border-radius: 5px;
}
.media-min-1500 {
  display: none;
}
.media-max-1500 {
  display: none;
}
.media-min-1200 {
  display: none;
}
.media-max-1200 {
  display: none;
}
.media-min-900 {
  display: none;
}
.media-max-900 {
  display: none;
}

@media (min-width: 1500px) { 
  .media-min-1500 {
    display: block;
  }
}
@media (max-width: 1499px) { 
  .media-max-1500 {
    display: block;
  }
}
@media (min-width: 1200px) { 
  .media-min-1200 {
    display: block;
  }
}
@media (max-width: 1199px) { 
  .media-max-1200 {
    display: block;
  }
}
@media (min-width: 900px) { 
  .media-min-900 {
    display: block;
  }
}
@media (max-width: 899px) { 
  .media-max-900 {
    display: block;
  }
}